<p><a href="/faq/add">{"Add question"}</a></p>

<p>
<table width="100%">
	<tr>
		<th width="42%">{" Question "}</th>
		<th width="42%">{" Answer "}</th>
		<th width="16%">&nbsp;</th>
	</tr>
{% foreach items %}
	<tr>
		<td>{{ loop_value->question }}</td>
		<td title="{{ loop_value->answer|strip_tags }}">{{ loop_value->answer|strip_tags|trim|substr (%s, 0, 77) }}...</td>
		<td>
			<a	href="/faq/edit?id={{ loop_value->id }}">{"Edit"}</a> |
			<a	href="/faq/delete?id={{ loop_value->id }}"
				onclick="return confirm ('{"Are you sure you want to delete this question?"}')">{"Delete"}</a>
		</td>
	</tr>
{% end %}
</table>
</p>

{! navigation/pager?style=text&url=[url]&total=[total]&count=[count]&limit=[limit] !}