{! admin/util/wysiwyg !}

<form method="post" id="{{ _form }}">

<p>
	{"Question"}:<br />
	<input type="text" name="question" value="{{ question|quotes }}" size="70" />
	<span class="notice" id="question-notice">{"Please enter a question."}</span>
</p>

<p>
	{"Answer"}:<br />
	<textarea name="answer" id="webpage-body" rows="10" cols="90">{{ answer }}</textarea>
	<span class="notice" id="answer-notice">{"Please enter a answer."}</span>
</p>

<p><input type="submit" value="{"Save question"}" />&nbsp;
	<a href="javascript:history.go(-1)" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a></p>

</form>