{{ previous_category = 0 }}

{% foreach all as category %}

	<a name="faq-category-{{category->id}}"></a>
	<h2>{{category->name}}</h2>

	{% if links === 'yes' %}
		<ol class="faq-list">
		{% foreach category->items as faq %}
			{% if faq->category == $data->faq->category %}
				<li><a href="#faq-{{faq->id}}">{{faq->question}}</a></li>
			{% end %}
		{% end %}
		</ol>
	{% end %}

	{% foreach category->items as faq %}
		<div class="faq-question">
			<a name="faq-{{faq->id}}"></a>
			<h3>Q. {{faq->question}}</h3>
			<p class="faq-answer">{{faq->answer|none}}</p>
		</div>
	{% end %}
{% end %}
